
<!DOCTYPE html>
<html lang="{{ config.default_language | default(value='en') }}" class="no-js">

<head>
  {% block head_extra %}{% endblock head_extra %}
  {% include "macros/shell/head.html" %}
</head>

<body>
  <a class="skip-link" href="#main">Skip to content</a>
  {% include "macros/shell/mobile-nav.html" %}
  <div class="site">
    {% block sidebar %}{% endblock sidebar %}
    <div class="site__main">
      <main id="main" class="main">
        {% block content %}{% endblock content %}
      </main>
  
      {% include "macros/shell/footer.html" %}
    </div>
  </div>
  {% block scripts %}
  <script type="module" src="{{ get_url(path='js/theme.js') | safe }}"></script>
  <script type="module" src="{{ get_url(path='js/mobile-nav.js') | safe }}"></script>
  {% endblock scripts %}
</body>

</html>
