<article class="project-card">
    <a class="project-card__link" href="{{ page.permalink }}">
        <div
            class="project-card__media{% if page.extra.thumbnail %} project-card__media--{{ page.extra.thumbnail }}{% endif %}"
            aria-hidden="true"
        >
            {% if page.extra.thumbnail == "inventory" %}
            <span class="project-card__media-bar project-card__media-bar--accent"></span>
            <span class="project-card__media-bar"></span>
            <span class="project-card__media-bar project-card__media-bar--wide"></span>
            <span class="project-card__media-orb"></span>
            {% elif page.extra.thumbnail == "checklist" %}
            <span class="project-card__media-check"></span>
            {% endif %}
        </div>
        <div class="project-card__body">
            <h3 class="project-card__title">{{ page.title }}</h3>
            {% if page.description %}
            <p class="project-card__summary">{{ page.description }}</p>
            {% endif %}
            {% if page.extra.tags %}
            <ul class="project-card__tags">
                {% for tag in page.extra.tags %}
                <li class="project-card__tag{% if loop.first %} project-card__tag--primary{% endif %}">{{ tag }}</li>
                {% endfor %}
            </ul>
            {% endif %}
        </div>
    </a>
</article>
